<header class="header header-3">
  <div class="header-3__logo">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
        {%- assign image_size = section.settings.logo_width | append: 'x' -%}
        <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          src="{{ section.settings.logo | img_url: image_size }}"
          loading="lazy"
          class="header__heading-logo"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
          alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        >
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </a>
  </div>

  <nav class="header-3__collections-nav">
    <ul class="d-flex align-items-center justify-content-center" style="margin: 0;">
      {%- if section.settings.menu != blank -%}
        {%- for link in section.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
        {%- endfor -%}
      {%- endif -%}

      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="user">
        <span class="visually-hidden">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </span>
        <i class="bi bi-person"></i>
      </a>
      <a href="{{ routes.cart_url }}" class="shopping-cart">
        <i class="bi bi-cart"></i>
      </a>
    </ul>
  </nav>
</header>